
table{
    margin-top: 5%;
}

tr.gray{
    background-color: gray;
    color: whitesmoke; 
}

tr.orange{
    background-color: rgb(224, 117, 28);
    color: whitesmoke;
}

i:hover{
    cursor: pointer;
}

i.color{
    color: rgb(224, 117, 28);
}

.container{
    margin: .25rem 10% .25rem 15%; 
}


.color{
    background-color: white;
}

h1{
    color: rgb(230, 128, 45);
 }

.separation{
    border-bottom: 1px solid rgb(177, 177, 177);
}

.paginator{
    text-align: right;
}


