    <div class="container">
        <div class="jumbotron p-4 p-md-5 rounded-lg bg-white">
         <h1 class="separation">Editar un usuario existente</h1> 
         <h3 class="form-text text-muted">&nbsp;&nbsp;&nbsp;<i class="fas fa-caret-right color"></i>Da click en Editar para modificar datos o Eliminar para borrar un usuario </h3> 
         <div class="table-responsive">  
            <table class="table table-striped  color">
                <thead class="table-sm table-bordered">
                    <tr class="orange">
                        <th colspan="6" >Usuarios</th>
                        <th scope="col">
                            <i class="fas fa-search"></i>
                        </th>
                        <th scope="col" routerLink="/addupdate"> 
                            <i class="fas fa-user-plus"></i>
                        </th>
                    </tr>
                    <tr class="gray">
                        <th scope="col">No.Trabajador</th>
                        <th scope="col">Nombre(s)</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>
                        <th scope="col">Tipo Usuario</th>
                        <th scope="col">Estatus</th>
                        <th scope="col" colspan="2"></th>  
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor = "let usuario of usuarios">
                        <td scoper="row">{{usuario.numeroTrabajador}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellidoPaterno}}</td>
                        <td>{{usuario.apellidoMaterno}}</td>
                        <td>{{usuario.tipoUsuario}}</td>
                        <td>{{usuario.estatus}}</td>
                        <td routerLink="/addupdate/{{usuario.id}}">
                            <i class="fas fa-pencil-alt"></i>
                        </td>
                        <td (click)="delete(usuario)">
                            <i class="far fa-trash-alt i color"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [pageSizeOptions] = "[4]"></mat-paginator>
         </div>
        </div>
    </div>
