<div class="header">
    <nav class="navbar navbar-expand-md first">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link big-text white" href="#"> <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link big-text white" href="#"><i class="fas fa-bell"></i> Notificaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >10052-998-0000</a>
            </li>
          </ul>
          <ul  class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item ">
              <a class="nav-link big-text white " href="#"><i class="fas fa-cog"></i> Configurar</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link big-text white" href="#"><i class="fas fa-power-off"></i> Salir</a>
            </li>
          </ul>
        </div> 
    </nav>
    <div class="container">
          <nav class="rounded-bottom shadow navbar navbar-expand-md second">
              <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <div class="ml-4"><img class="headerLogos" src="assets/img/logo.png" alt="Logo de Odessa" ></div>
                  </li>
              </ul>
              <ul  class="navbar-nav mt-2 mt-md-0">
                  <li class="nav-item ">
                    <a class="nav-link big-text gray" href="#" routerLink="/table"><i class="fas fa-users fa-2x"></i><br>Usuarios</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link big-text gray" href="#"><i class="fas fa-layer-group fa-2x"></i><br>Relaciones</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link big-text gray" href="#"><i class="fas fa-id-badge fa-2x"></i><br>Perfiles</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link big-text gray" href="#"><i class="fas fa-book-open fa-2x"></i><br>Catálogos</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link big-text gray" href="#"><i class="fas fa-folder fa-2x"></i><br>Elementos<br>Sistema</a>
                  </li>
              </ul>
              </div> 
          </nav>
    </div>
</div>
