<div class=" d-flex justify-content-center mr-5">
  <div class="container">
    <div class="jumbotron p-4 p-md-5 rounded-lg bg-white">
            <h1>{{titulo}} User</h1>
        <form #formUsuarios="ngForm" (ngSubmit)="save()">
            <div class="form-row separation">
                <h3 class="form-text text-muted">&nbsp;&nbsp;&nbsp;<i class="fas fa-caret-right color"></i>Enter the user's data in the corresponding fields.</h3>
            </div>
            <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="tipoUsuario">User Type</label>
                <select class="form-control" id="tipoUsuario" placeholder="Select"
                [(ngModel)]="usuario.tipoUsuario" name="tipoUsuario" required>
                    <option disabled hidden selected>Select</option>
                    <option>Type1</option>
                    <option>Type2</option>
                    <option>Type3</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="areas">Areas</label>
                <select class="form-control" id="areas" placeholder="Select"
                [(ngModel)]="usuario.areas" name="areas" required>
                    <option disabled hidden selected>Select</option>
                    <option>Area1</option>
                    <option>Area2</option>
                    <option>Area3</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="estatus">Status</label>
                <select class="form-control" id="estatus" placeholder="Activo"
                [(ngModel)]="usuario.estatus" name="estatus" required>
                    <option disabled hidden selected>Select</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                <label for="id">User Id</label>
                <input type="text" class="form-control" id="id" maxlength="11"
                [(ngModel)]="usuario.id" name="id" disabled>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="numeroTrabajador">Employee Number</label>
                    <input type="text" class="form-control" id="numeroTrabajador" placeholder="Es el número de nómina" maxlength="11"
                    [(ngModel)]="usuario.numeroTrabajador" name="numeroTrabajador" required
                    minlength="11" maxlength="11" #numeroTrabajador = "ngModel"
                    [class.is-invalid]="numeroTrabajador.invalid && (numeroTrabajador.dirty || numeroTrabajador.touched)">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="usuario">User</label>
                    <input type="text" class="form-control" id="usuario" maxlength="100"
                    [(ngModel)]="usuario.user" name="usuario" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="cliente">Customer</label>
                    <select class="form-control" id="cliente" placeholder="Select"
                    [(ngModel)]="usuario.cliente" name="cliente" required>
                        <option disabled hidden selected>Select</option>
                        <option>Customer1</option>
                        <option>Customer2</option>
                        <option>Customer3</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="elementoEstructura">Element</label>
                    <select class="form-control" id="elementoEstructura" placeholder="Select"
                    [(ngModel)]="usuario.elementoEstructura" name="elementoEstructura" required>
                        <option disabled hidden selected>Select</option>
                        <option>Element1</option>
                        <option>Element2</option>
                        <option>Element3</option>
                    </select>
                </div>
            </div>
            <div class="form-row separation">
                <h3 class="form-text text-muted">Personal info</h3>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                <label for="nombres">First Name</label>
                <input type="text" class="form-control" maxlength="50" id="nombres"
                [(ngModel)]="usuario.nombre" name="nombre" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="apellidoPaterno">Middle Name</label>
                    <input type="text" class="form-control" maxlength="25" id="apellidoPaterno"
                    [(ngModel)]="usuario.apellidoPaterno" name="apellidoPaterno" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="apellidoMaterno">Last Name</label>
                    <input type="text" class="form-control" maxlength="25" id="apellidoMaterno"
                    [(ngModel)]="usuario.apellidoMaterno" name="apellidoMaterno">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                <label for="nombres">First Email</label>
                <input type="email" placeholder="correo@dominio.com" class="form-control" maxlength="25" id="nombres"
                [(ngModel)]="usuario.correoOficina" name="correoOficina" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="telefonoOficina">Telephone</label>
                    <input type="text" class="form-control" id="telefonoOficina" maxlength="50"
                    [(ngModel)]="usuario.telefonoOficina" name="telefonoOficina">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="extensionOficina">Office Extension</label>
                    <input type="number" class="form-control" id="extensionOficina" maxlength="5"
                    [(ngModel)]="usuario.extensionOficina" name="extensionOficina">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                <label for="movil1">Mobile 1</label>
                <input type="email"  class="form-control" id="movil1" maxlength="50"
                [(ngModel)]="usuario.movil1" name="movil1">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="movil2">Mobile 2</label>
                    <input type="email" placeholder="Opcional" class="form-control" id="movil2" maxlength="50"
                    [(ngModel)]="usuario.movil2" name="movil2">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="telefonoCasa">Telephone 2</label>
                    <input type="email" placeholder="Opcional" class="form-control" id="telefonoCasa" maxlength="50"
                    [(ngModel)]="usuario.telefonoCasa" name="telefonoCasa">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="fecha">Date of birth</label>
                    <input type="date" class="form-control" id="fecha"
                    [(ngModel)]="usuario.fechaNacimiento" name="fechaNacimiento" required>
                </div>
            </div>
            <div *ngIf="numeroTrabajador.invalid && (numeroTrabajador.dirty || numeroTrabajador.touched)">
                <div class="alert alert-danger">Employee Number must be 11 characters long.</div>
            </div>
            <div *ngIf="formUsuarios.form.invalid">
                <div *ngIf="numeroTrabajador.valid || numeroTrabajador.pristine" class="alert alert-dark">Please fill in the required fields correctly.</div>
            </div>
            <div class="form-row justify-content-center">
                <button class="btn btn-secondary m-2" type="button" (click)="goBack()">Cancel</button>
                <button class="btn m-2 btn-color" type="submit" (click)="save()" [disabled]="formUsuarios.form.invalid" routerLink="/resumen/{{usuario.id}}">Save</button>
            </div>
        </form>
    </div>
  </div>
</div>
